h2,
p {
	color:#555;
	font: 13px/20px;
}

body {
	font-family: 'Butterfly Kids', cursive;
	font-size: 30px;
}

a {
	color: #0087cc;
}

a:hover {
	color:#ff7b29;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 6px;
}

.byline {
	color:#9799a9;
	/*font-family: Georgia, Times, "Times New Roman", serif;*/
	font-style: italic;
	margin-bottom: 18px;
}